nextflow.enable.dsl=2

params {
    primarySpectra = 'T1w'
    inputDir = 'inputs'
    outputDir = 'output'
}


profiles {
    standard {
      process {
        container = 'ghcr.io/cobralab/magetbrain-nextflow:master'
        executor = 'local'
      }
      apptainer.enabled = true
    }
    niagara {
      process {
        executor = 'slurm'
        queueSize = 1000

        cpus = 40
        time = '1h'
        clusterOptions = '--nodes=1'

        withName: registerAffine {
          cpus = 20
          clusterOptions = '--nodes=1'
          time = '3h' 
        }
        withName: registerNonlinear {
          cpus = 8
          clusterOptions = '--nodes=1'
          time = '5h' 
        }
        withName: resampleLabel {
          cpus = 40
          time = 15.min
          clusterOptions = '--nodes=1'
        }
        withName: majorityVote {
          cpus = 20
          time = 15.min
          clusterOptions = '--nodes=1'
        }
      }
    }
    beluga {
      process {
        executor = 'slurm'
        queueSize = 1000
        module = 'StdEnv/2023:gcc/12.3:ants/2.5.0:nextflow'
      }
    }


}

process {
  errorStrategy = 'finish'
  cache = 'lenient'
}

report {
  enabled = true
}

dag {
  enabled = true
  verbose = true
}

timeline {
  enabled = true
}
